.landingPageContainer{
    width:100vw;
    height:100vh;
    background:url("/public/background.png");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
}
.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.landingPageContainer nav h2{
    font-size: 1.8rem;
    font-weight: 500;
}
.landingPageContainer nav .navlist{
    display: flex;
    gap:1.6rem;
    cursor: pointer;
}



.landingMainContainer {
display:flex;
justify-content: space-between;
padding-inline: 3rem;
height: 80vh;
align-items: center;
}
.landingMainContainer >div:nth-child(1){
    font-size: 2.2rem;
}
.landingMainContainer >div:nth-child(1) div[role="button"]{
    background: #D97500 ;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1.9rem;
}
.landingMainContainer >div:nth-child(1) div[role="button"] a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    /* margin-top: 1.9rem; */
}

.landingMainContainer >div:nth-child(2) img{
    height: 70vh;
    width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

/* Base styles already defined above */

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .landingMainContainer {
    flex-direction: column;
    padding-inline: 2rem;
    text-align: center;
    height: auto;
  }

  .landingMainContainer > div:nth-child(1) {
    font-size: 1.8rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 50vh;
    margin-top: 2rem;
  }

  .navlist {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .landingPageContainer nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .navlist {
    flex-direction: column;
    align-items: flex-start;
  }

  .landingMainContainer > div:nth-child(1) div[role="button"] a {
    font-size: 1.4rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 40vh;
  }
}

@media screen and (max-width: 480px) {
  .landingPageContainer {
    padding: 1rem;
  }

  .landingMainContainer {
    padding-inline: 1rem;
  }

  .landingMainContainer > div:nth-child(1) {
    font-size: 1.4rem;
  }

  .landingMainContainer > div:nth-child(1) div[role="button"] {
    padding: 0.8rem;
    border-radius: 15px;
  }

  .landingMainContainer > div:nth-child(1) div[role="button"] a {
    font-size: 1.2rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 30vh;
  }
}